*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

webapp/.nuxt
webapp/node_modules
webapp/*.log*
webapp/.nitro
webapp/.cache
webapp/.output
webapp/.env
webapp/dist
webapp/build

.idea/
.iml

.vscode/

.DS_Store
